<div>
<h1>People also liked: </h1>
    <div class="row">
        <%= for product <- @random_products do %>
        <div class="col-sm-4">
            <a href="<%= Routes.product_path(@conn, :show, product.slug) %>"><%= product.title %></a>
            <div class="col-xs-12">
                <img class="rounded mx-auto d-block" src="/images/placeholder-small.png">
            </div>
            <br>
            <%= product.description %>
            </div>
        <% end %>
    </div>
</div>