/* This file is for your main application css. */

@import "./phoenix.css";

.white-text {
    color: white;
}

.checkout {
    padding-right:25px;
}

.active {
    text-decoration: underline;
}

.product-preview {
   margin-bottom: 20px;
   padding-bottom: 10px;
   border-bottom: 1px solid black;
}

.price {
    color: #B12704!important;
}

.ratings-container {
    align-items: center;
      display: flex;
      height: 10vh;
      justify-content: left;
}

.clip-star {
  background: gold;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  display: inline-block;
  height: 25px;
  width: 25px;
}
.clip-star-empty {
  background: black;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  display: inline-block;
  height: 25px;
  width: 25px;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.help-block {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.product-details {
    font-size: 16px;
}

.price {
    font-size: 20px;
}

.availibility {
    font-style: oblique;
    font-weight: 700;
}

button {

    font-size: 1.5vw;
}

.share {
    margin-top: 20px;
}

.price {
    font-size: 16px;
}

del {
    color: red;
}
.basket-list {
   margin-bottom: 20px;
}
.thumbnail {
    max-height: 75px;
}

.advert {
    border: 1px solid red;
    min-height: 200px;
    color: red;
    font-size: 28px;

}