<h1>My Basket</h1>
<%= for product <- @products do %>
    <%= render "product_preview.html", conn: @conn, product: product %>
<% end %>

<button class="btn btn-primary btn-lg float-right" onclick="window.confirm('Are you sure?');">Buy all immediately</button>