<h1>Show Advert</h1>

<ul>

  <li>
    <strong>Img:</strong>
    <%= @advert.img %>
  </li>

  <li>
    <strong>Txt:</strong>
    <%= @advert.txt %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.advert_path(@conn, :edit, @advert) %></span>
<span><%= link "Back", to: Routes.advert_path(@conn, :index) %></span>
